<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Freeflows</title>

    <link
            rel="preload"
            as="style"
            href="{% static 'css/style.css' %}"
            onload="this.rel = 'stylesheet'"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,700&display=swap"
          rel="stylesheet">
    <script>
        MathJax = {
            tex: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"],
                ],
                displayMath: [
                    ["$$", "$$"],
                    ["\\[", "\\]"]
                ]
            }
        }
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>

<header>

    <div class='nav-container'>

        <a class='nav-link' id="logo" href={% url 'home' %}>Freeflows</a>
        <a class='nav-link' id="logo" href='/problems/all'>Problems</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Sign out</a>

        {% else %}
            <a class='nav-link' href={% url 'login' %}>Sign in</a>
        {% endif %}

    </div>
</header>
<main>
    {% block content %} {% endblock %}
</main>
<footer>
    <div class='footer-container'>

        <p>© 2023 Freeflows</p>
        <a class='nav-link' href={% url 'about' %}>About us</a>

    </div>
</footer>
</body>
</html>