{% extends 'profile.html' %}
{% block profile_content %}
    <div class="profile-header-wrapper">
        <div class="profile-header">
            <h2>
                Update Password
            </h2>
        </div>
    </div>
    <div class="form-content" id="form-content" style="display: flex ;width: 80%; margin: 2em auto">
        <form method="post" action="">
            {% csrf_token %}
            <p>
                <label for="id_old_password">
                    Old Password:
                    <input type="password" name="old_password" autocomplete="current-password"
                           placeholder="Old Password"
                           required=""
                           id="id_old_password">
                </label>

            </p>
            <p>
                <label for="id_new_password1">
                    New Password:
                    <input type="password" name="new_password1" autocomplete="new-password" placeholder="New Password"
                           required=""
                           id="id_new_password1">
                </label>

            </p>
            <p>
                <label for="id_new_password2">
                    Confirm New Password:
                    <input type="password" name="new_password2" autocomplete="new-password"
                           placeholder="Confirm New Password" required=""
                           id="id_new_password2">
                </label>

            </p>
            <input type="submit" value="Submit" class="form-button" style="font-size: 0.8em">
        </form>
        {% for error in form.errors.values %}
            {{ error }}
        {% endfor %}
    </div>


{% endblock %}