{% extends 'base.html' %}
{% block content %}
    <div class="homepage">
        <div class="page-wrapper">
            <div class="homepage-text">
                <h1>Develop and improve your problem solving skills with Freeflows!</h1>
                <p>Freeflows is a series of web applications that offers resources for learners to practice their
                    problem solving skills to supplement their classes, to review for entrance exams or to simply just
                    learn. Freeflows is 100% free and always will be.</p>
            </div>
        </div>
    </div>
{% endblock %}