{% extends 'base.html' %}
{% block content %}
<div class="homepage">
    <div class="page-wrapper">
        <div class="homepage-text">
            <h1>Develop and hone your Math problem-solving skills with Freeflow!</h1>
            <p>This web app offers resources for learners to practice their Math problem-solving skills to supplement their classes,
                to review for entrance exams or to simply just learn. Freeflow is 100% free and will always be.</p>
        </div>
      </div>
</div>
{% endblock %}