{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <div class="problem-page">
        <span class="title">{{ problem.title | titleize }}</span>
        <div class="problem-question">
            <p>{{ problem.problem }}</p>
            <form class="answer-form" id="answer-form" method="post" action="">
                {% csrf_token %}
                <label>
                    <span class="answer-input" id="math-field"></span>
                    <input type="hidden" name="user_answer" id="user_answer" value="">
                </label>
            </form>
            <div class="keypad">
                <ul class="numpad">
                    <li class="numpad-item" value="1">1</li>
                    <li class="numpad-item" value="2">2</li>
                    <li class="numpad-item" value="3">3</li>
                    <li class="numpad-item" value="+">+</li>
                    <li class="numpad-item" value="4">4</li>
                    <li class="numpad-item" value="5">5</li>
                    <li class="numpad-item" value="6">6</li>
                    <li class="numpad-item" value="-">-</li>
                    <li class="numpad-item" value="7">7</li>
                    <li class="numpad-item" value="8">8</li>
                    <li class="numpad-item" value="9">9</li>
                    <li class="numpad-item" value="/">$\frac{a}{b}$</li>
                    <li class="numpad-item" value=".">.</li>
                    <li class="numpad-item" value="0">0</li>
                    <li class="numpad-item" value="=">=</li>
                    <li class="numpad-item" value="%">%</li>
                </ul>
                <ul class="symbols">
                    <li class="numpad-item" value="^">$a^n$</li>
                    <li class="numpad-item" value="\degree">$a^{\circ}$</li>
                    <li class="numpad-item" value="_">$a_n$</li>
                    <li class="numpad-item" value="\sqrt">$\sqrt{}$</li>
                    <li class="numpad-item" value="\nthroot">$\sqrt[n]{}$</li>
                    <li class="numpad-item" value="\pi">$\pi$</li>
                    <li class="numpad-item" value="\ln">$\ln{}$</li>
                    <li class="numpad-item" value="\log">$\log$</li>
                    <li class="numpad-item" value="\theta">$\theta$</li>
                    <li class="numpad-item" value="\sin">$\sin{}$</li>
                    <li class="numpad-item" value="\cos">$\cos{}$</li>
                    <li class="numpad-item" value="\tan">$\tan{}$</li>
                </ul>
                <ul class="intervals">
                    <li class="numpad-item" value="(">$($</li>
                    <li class="numpad-item" value=")">$)$</li>
                    <li class="numpad-item" value="[">$[$</li>
                    <li class="numpad-item" value="]">$]$</li>
                    <li class="numpad-item" value="\cap">$\cap$</li>
                    <li class="numpad-item" value="\cup">$\cup$</li>
                    <li class="numpad-item" value=",">$,$</li>
                    <li class="numpad-item" value="\infty">$\infty$</li>
                </ul>
            </div>
        </div>

        <div class="problem-footer">
            {% for message in messages %}
                {% if message|stringyfy == "attempted" %}
                    <button class="show-solution-btn" id="show-solution-btn">Show Solution</button>
                {% elif message|stringyfy == "incorrect" %}
                    <p>Not quite, Try again!</p>
                {% else %}
                    <p>Great Job!</p>
                {% endif %}
            {% endfor %}
            {% if not user.is_authenticated %}
                <p>Sign in to save your progress!</p>
            {% endif %}
            <button type="button" id="report-problem-button" onclick="openForm()">Report Problem</button>
        </div>

        <span class="title" id="title" style="width: 70%; display: none">Solution</span>
        <div class="problem-solution" id="problem-solution" style="display: none">
            {{ problem.solution }}
        </div>
    </div>
    <div class="popup-form" id="popup-form">
        <div id="report-problem-form">
            <form method="post">
                {% csrf_token %}
                <h4>Report a mistake in this question</h4>
                <p>Thanks for your help!</p>
                <label for="report-input">Describe the issue:</label>
                <textarea id="report-input" name="description"></textarea>
                <div class="button-container">
                    <button id="submit-report-btn" type="submit" name="report_problem">Submit Issue</button>
                    <button type="button" onclick="closeForm()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
    <script>
        const el = document.getElementById("show-solution-btn");
        if (el) {
            el.addEventListener("click", () => {
                document.getElementById("title").style.display = "flex";
                document.getElementById("problem-solution").style.display = "block";
            })
        }

        function closeForm() {
            document.getElementById("popup-form").style.display = "none";
        }

        function openForm() {
            document.getElementById("popup-form").style.display = "flex";
        }

    </script>
    <script>
        const mathFieldSpan = document.getElementById('math-field');
        const userAnswer = document.getElementById('user_answer')
        const userAnswerForm = document.getElementById('answer-form')
        const numpad = document.getElementsByClassName('numpad-item')

        const MQ = MathQuill.getInterface(2);
        const mathField = MQ.MathField(mathFieldSpan, {
            spaceBehavesLikeTab: true,
            handlers: {
                edit: function () { // useful event handlers
                    userAnswer.value = mathField.latex();
                    console.log(userAnswer.value)
                }
            }
        });

        mathFieldSpan.addEventListener("keypress",
            function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    userAnswerForm.submit()
                }
            })

        Array.from(numpad).forEach(function (el) {
                el.addEventListener(
                    "mousedown",
                    (event) => {
                        event.preventDefault()
                        mathField.cmd(el.getAttribute("value"))
                        mathField.focus()
                    }
                )
        })


    </script>

{% endblock %}

