* {
    box-sizing: border-box;
}

body {
    display: block;
    font-family: Poppins, sans-serif;

    overflow-x: hidden;
    margin: 0;
}

main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-height: 87vh;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100svw;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

    .nav-container {
        display: flex;
        align-self: center;
        padding: 0 10px;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        gap: 1.5rem;

        .nav-link {
            display: flex;
            align-items: center;
            align-self: center;
            text-decoration: none;

            img {
                display: flex;
                width: 2.5em;
                height: auto;
            }
        }


        .nav-link:nth-child(2) {
            margin-right: auto;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 100svw;

    .footer-container {
        margin: auto;
        gap: 2em;
        width: 100%;
        max-width: 1200px;
        height: 3em;
        border-top: 1px solid #eeeeee;

        p {
            color: #9db4c0;
        }
    }
}

footer * {
    display: flex;
    margin: auto 0;
    width: fit-content;
    align-self: center;
    padding: 0.2em;
    text-decoration: none;
    font-size: 0.9em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.homepage {
    width: 100vw;
    max-width: 1200px;
    justify-content: center;

    .page-wrapper {
        position: relative;
        background-color: #C2DFE3;
        width: 100svw;
        max-width: 1200px;
        height: 78svh;
        margin: 2em auto;
        padding: 2em;
        border-radius: 20px;

        .homepage-text {
            position: absolute;
            width: 60%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.about {
    width: 100svw;
    max-width: 1200px;
    justify-content: center;

    .page-wrapper {
        display: flex;
        flex-direction: column;
        width: 100svw;
        max-width: 700px;
        padding: 0 10px;
        margin: 2em auto;

        .team-wrapper {
            display: flex;
            flex-direction: row;
            gap: 2em;

            .card-container {
                width: 272px;
                margin-left: auto;
                margin-right: auto;
                background-color: #F5F5F5;
                border-radius: 10px;
                overflow: hidden;

                .info--name {
                    font-size: 1em;
                    font-weight: 600;
                    color: black;
                    margin: auto;
                    padding-top: 1em;
                    padding-bottom: 0.5em;
                }

                .info--title {
                    color: black;
                    margin: auto;
                    padding-bottom: 1em;
                    font-size: 0.8em;
                    font-weight: 400;
                }

                .info--button-container {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    gap: 1em;
                    padding: 0;
                }

                a {
                    text-decoration: none;
                }

                button {
                    display: flex;
                    font: inherit;
                    justify-content: center;
                    width: 100px;
                    align-items: center;
                    padding: 0.2em;
                    font-size: 0.9em;
                    font-weight: 500;
                    border-radius: 6px;
                }

                .info--linkedin-btn {
                    color: white;
                    background-color: #5093E2;
                    border: 1px solid #5093E2;
                }

                .info--email-btn {
                    border: 1px solid #D1D5DB;
                }

                .info--about {
                    width: 220px;
                    margin: auto;
                    text-align: left;
                    font-size: 1em;

                    h3 {
                        font-size: 1em;
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 0.8em;
                        margin-top: 0.5em;
                    }
                }

            }
        }

    }
}


.form-box {
    width: 350px;
    min-height: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);

    .form-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        align-items: stretch;

        .form-content {
            h3 {
                margin-right: auto;
                margin-left: auto;
                align-self: center;
                width: fit-content;
                font-size: 1.5em;
            }

            input {
                font-family: Poppins, sans-serif;
                font-size: 1em;
                padding: 0.5em;
                width: 100%;
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
                border: 0;
                border-radius: 10px;
            }

            .form-button {
                background-color: #C2DFE3;
            }

            .errorlist {
                list-style: none;
                margin: auto auto 0;
                padding: 0;
            }
        }
    }
}

.problem-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10vh auto;
    width: 100%;
    max-width: 1000px;
    height: fit-content;

    .title {
        display: flex;
        font-size: large;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .problem-question {
        display: block;
        width: 70%;
        margin: 2rem auto 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .problem-question > span {
        width: 100%;
        padding-bottom: 1em;
    }

    .answer-input {
        display: block;
        width: 12vw;
        min-width: 120px;
        font: inherit;
        border-radius: 10px;
        padding: 0.5em;
        margin: 20px 0;
    }

    .problem-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70%;
        margin: 0.5em auto 2em;
        align-content: center;
        gap: 0 1em;
        font-size: 13px;

        * {
            min-width: 150px;
        }

        p {
            display: inline-flex;
            align-self: center;
            margin: 0;
            width: fit-content;
        }

        button {
            display: inline-flex;
            align-items: center;
            font: inherit;
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            text-decoration: underline;
        }

        a {
            display: inline-flex;
            width: fit-content;
            align-self: center;
            color: grey;
            font-size: small;
        }
    }

    .problem-solution {
        display: block;
        width: 70%;
        margin: 2rem auto 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
}

.problem-table-container {
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    max-width: 800px;
    overflow-x: hidden;

    .filter-btn-container {
        display: flex;
        margin: 3vh auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em 1em;
        overflow: revert;


        a {
            white-space: nowrap;
            text-decoration: none;
            width: fit-content;
            padding: 0.5em;
            border-radius: 2em;
            background-color: lightgray;
        }

        a.active {
            background-color: #24272b;
            color: white;
        }
    }

    form {
        display: flex;
        gap: 1.5em;

        #id_level {
            margin-left: auto;
        }
    }

    form * {
        display: flex;
        font: inherit;
        margin-left: 1px;
        padding: 0.5em;
        border-radius: 10px;
        border: 0;
        background: #c2dfe3 linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
    }

    form *:focus {
        outline: 0;
        background: #c2dfe3 linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    }


    table {
        border-collapse: collapse;

        thead {
            color: grey;
            border-bottom: 1px solid #eeeeee;
        }

        tr {
            line-height: 2.5em;
        }

        tr:nth-child(even) {
            background: #c2dfe3 linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
        }

        .status-cell, .difficulty-cell {
            width: 1%;
            height: auto;
            white-space: nowrap;
            padding: 1px 20px 1px 0;
            text-align: center;

        }

        .status-cell > img {
            width: 35%;
            height: auto;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
        }
    }


    ul.page-nav-container {
        padding: 0;
        display: flex;
        list-style: none;

        li {
            display: inline-flex;
            width: fit-content;
            white-space: nowrap;
            color: #5C6B73;
            cursor: pointer;
            border: 1px solid #C2DFE3;

            a {
                padding: 0.4em 0.8em;
            }
        }

        li.active {
            color: white;
            background-color: #C2DFE3;
        }

        li.disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        li:first-child {
            border-radius: 12px 0 0 12px;
        }

        li:last-child {
            border-radius: 0 12px 12px 0;
        }
    }

}

.popup-form {
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;

    #report-problem-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        height: fit-content;
        background-color: #9db4c0;
        margin: 10vh auto;

        form {
            font: inherit;
            display: flex;
            flex-direction: column;
            margin: 2em;
            font-size: 0.8em;

            h4 {
                margin: 0;
            }

            p {
                margin: 0.5em 0;
            }

            textarea {
                height: 10em;
                width: 100%;
                resize: none;
            }

            .button-container {
                display: flex;
                gap: 1em;
                padding: 0;
                margin: 1em 0 0 0;
            }

            button {
                display: flex;
                font: inherit;
                justify-content: center;
                width: 100px;
                align-items: center;
                padding: 0.2em;
                font-size: 0.9em;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .homepage {
        .page-wrapper {
            width: 90vw;

            .homepage-text {
                position: absolute;
                width: 80%;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    font-size: 1.75em;
                }

                p {
                    font-size: 0.875em;
                }
            }
        }
    }

    .problem-solution {
        font-size: 0.75em;
    }

    .about {
        .page-wrapper {
            .team-wrapper {
                flex-direction: column;
            }
        }
    }
}


